.error {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    .message {
        color: rgb(218, 23, 23);
        font-family: "Poppins-Medium";
        font-size: 0.8rem;
        text-align: center;
    }
}

.errorList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 120px;
    .message {
        color: rgb(218, 23, 23);
        font-family: "Poppins-Medium";
        font-size: 1rem;
        text-align: center;
    }
}