@import "../../_settings/variables";
@import "../../_settings/mixins";
.signin {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title {
            font-family: "Poppins-Bold";
            font-size: 1.4rem;
        }
        &_paragraph {
            font-family: "Poppins-SemiBold";
            font-size: 1rem;
            width: 260px;
            text-align: center;
        }
    }
    &_container {
        background: $purple;
        margin: 30px 20px 0 20px;
        padding: 30px;
        border-radius: 20px;
        @include media(tablet) {
            width: 500px;
        }
        &_form {
            &_input {
                display: flex;
                flex-direction: column;
                padding-bottom: 30px;
                label {
                    font-family: "Poppins-Medium";
                    color: $beige;
                }
                input {
                    background: $purple;
                    border: none;
                    color: white;
                    border-bottom: 1px solid white;
                    height: 35px;
                    &::placeholder {
                        color: white;
                    }
                }
            }
            &_button {
                text-align: center;
                button {
                    font-family: "Poppins-SemiBold";
                    background: $beige;
                    border: none;
                    color: $purple;
                    font-size: 0.8rem;
                    width: 123px;
                    height: 24px;
                    border-radius: 25px;
                    cursor: pointer;
                    &:hover {
                        background: $beige-dark;
                    }
                }
            }
        }
        &_hr {
            padding: 30px 0;
            hr {
                height: 3px;
                background: $beige;
            }
        }
        &_signup {
            text-align: center;
            &_title {
                margin-bottom: 30px;
                display: flex;
                justify-content: center;
                h3 {
                    font-family: "Poppins-SemiBold";
                    color: $beige;
                    width: 95%;
                }
            }
            &_button {
                button {
                    font-family: "Poppins-SemiBold";
                    background: $beige;
                    border: none;
                    color: $purple;
                    font-size: 0.8rem;
                    width: 123px;
                    height: 24px;
                    border-radius: 25px;
                    cursor: pointer;
                    &:hover {
                        background: $beige-dark;
                    }
                }
            }
        }
    }
}