@import "../../_settings/variables";
.signup {
    margin-top: 50px;
    &_heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title {
            font-family: "Poppins-Bold";
            font-size: 1.4rem;
        }
        &_paragraph {
            font-family: "Poppins-SemiBold";
            font-size: 1rem;
            width: 260px;
            text-align: center;
        }
    }
    &_container {
        background: $purple;
        margin: 30px 20px 0 20px;
        padding: 30px;
        border-radius: 20px;
        &_form {
            &_input {
                display: flex;
                flex-direction: column;
                padding-bottom: 30px;
                label {
                    font-family: "Poppins-Medium";
                    color: $beige;
                }
                input {
                    background: $purple;
                    border: none;
                    color: white;
                    border-bottom: 1px solid white;
                    height: 35px;
                    &::placeholder {
                        color: rgba(247, 247, 235, 0.54) !important;
                    }
                }
            }
            &_button {
                text-align: center;
                button {
                    font-family: "Poppins-SemiBold";
                    background: $beige;
                    border: none;
                    color: $purple;
                    font-size: 0.8rem;
                    width: 123px;
                    height: 24px;
                    border-radius: 25px;
                }
            }
        }
        &_signup {
            text-align: center;
            &_button {
                button {
                    font-family: "Poppins-SemiBold";
                    background: $beige;
                    border: none;
                    color: $purple;
                    font-size: 0.8rem;
                    width: 123px;
                    height: 24px;
                    border-radius: 25px;
                }
            }
        }
    }
}