@import "../../_settings/variables";
#container {
    p {
        font-family: "Poppins-Medium";
        font-size: 0.85rem;
        color: $purple;
    }
    .para {
        font-size: 1.1rem;
    }
}