@import "../../_settings/variables";
@import "../../_settings/mixins";
.global {
    @include media(laptop) {
        display: flex;
        align-items: baseline;
    }
    .lists {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 50px 20px 30px 20px;
        border-radius: 5px;
        padding: 5px;
        @include media(laptop) {
            width: 300px;
        }
        &_icon {
            button {
                font-size: 1.6rem;
                color: $beige;
                margin-right: 10px;
                font-family: "Poppins-SemiBold";
                background: $purple;
                border: none;
            }
        }
        &_paragraph {
            font-size: 1.3rem;
            color: $beige;
            input {
                background: $purple;
                border-radius: 5px;
                border: none;
                color: $beige;
                font-size: 1.2rem;
                font-family: "Poppins-SemiBold";
                width: 100%;
                &::placeholder {
                    color: $beige;
                }
            }
        }
    }
}